@import './fonts.css';

html, body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: "Roboto";
    background-color: #000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div.windowControls {
    width: 100%;
    height: 20px;
    background-color: #111;
    display: grid;
    grid-template-columns: 4fr 1.5fr 2fr 2fr;
    grid-template-areas: ". info . controls";
    -webkit-app-region: drag;
}

div.windowControls div.info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: info;
}

div.windowControls div.info p.title {
    color: #fff;
    font-size: 12px;
}

div.windowControls div.info img.icon {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

div.windowControls div.controls {
    grid-area: controls;
    display: flex;
    justify-content: space-between;
    width: 68px;
    justify-self: flex-end;
    -webkit-app-region: no-drag;
}

div.windowControls div.controls button {
    height: 20px;
    width: 20px;
    position: relative;
    background-color: #0000;
    border: none;
    outline: none !important;
}

div.windowControls div.controls button::before {
    content: "";
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50;
    left: 50;
    transform: translate(-50%, -50%);
    transition: filter 0.3s ease;
}

div.windowControls div.controls button:hover::before {
    filter: brightness(1.4);
}

div.windowControls div.controls button#minimizeButton::before {
    background-color: #99ffbb;
}

div.windowControls div.controls button#maximizeButton::before {
    background-color: #fff099;
}

div.windowControls div.controls button#closeButton::before {
    background-color: #ff99bb;
}
